In [24]:
from pycaret.classification import *  # ถ้าเป็น Classification
from pycaret.regression import *
from pycaret.time_series import *
import pandas as pd

df = pd.read_csv("province/data_eng_day.csv")  # อ่านไฟล์ CSV
print(df.head(10))

print(df.index)  # เช็คว่า timestamp เป็น index หรือไม่
print(df.index.dtype)

   Unnamed: 0            timestamp      timezone   humidity      pm_10  \
0           0  2023-04-01 07:00:00  Asia/Bangkok  73.861694   4.727273
1           1  2023-04-03 07:00:00  Asia/Bangkok  67.872493  16.046366
2           2  2023-04-04 07:00:00  Asia/Bangkok  62.995952  13.300139
3           3  2023-04-05 07:00:00  Asia/Bangkok  59.482051  11.864336
4           4  2023-04-06 07:00:00  Asia/Bangkok  66.493574  16.405837
5           5  2023-04-07 07:00:00  Asia/Bangkok  67.057330  14.291086
6           6  2023-04-08 07:00:00  Asia/Bangkok  60.815370  19.955634
7           7  2023-04-09 07:00:00  Asia/Bangkok  60.191329   6.298810
8           8  2023-04-10 07:00:00  Asia/Bangkok  60.216410   8.566852
9           9  2023-04-11 07:00:00  Asia/Bangkok  60.272756  26.641614

      pm_2_5  pm_2_5_sp  temperature
0   4.727273   4.727273    30.189449
1  14.585213  14.699248    29.895143
2  11.938022  11.942897    33.853401
3  10.733566  10.733566    35.772219
4  14.758860  14.840167    31.862498
5  13.016713  13.017409    32.995414
6  17.897183  18.222535    36.060378
7   5.615115   5.816655    35.710605
8   7.598886   7.598886    35.220016
9  23.628392  23.917884    35.812456
RangeIndex(start=0, stop=663, step=1)
int64

In [ ]:
# df = pd.read_csv("data_eng_day.csv")
df = pd.read_csv("data_eng_day.csv", parse_dates=["timestamp"], index_col="timestamp")  # อ่านไฟล์ CSV
df.head(10)
print(df.index)  # เช็คว่า timestamp เป็น index หรือไม่
print(df.index.dtype)

DatetimeIndex(['2023-04-01 07:00:00', '2023-04-03 07:00:00',
               '2023-04-04 07:00:00', '2023-04-05 07:00:00',
               '2023-04-06 07:00:00', '2023-04-07 07:00:00',
               '2023-04-08 07:00:00', '2023-04-09 07:00:00',
               '2023-04-10 07:00:00', '2023-04-11 07:00:00',
               ...
               '2025-02-03 07:00:00', '2025-02-04 07:00:00',
               '2025-02-05 07:00:00', '2025-02-06 07:00:00',
               '2025-02-07 07:00:00', '2025-02-08 07:00:00',
               '2025-02-09 07:00:00', '2025-02-10 07:00:00',
               '2025-02-11 07:00:00', '2025-02-11 11:15:42'],
              dtype='datetime64[ns]', name='timestamp', length=663, freq=None)
datetime64[ns]

In [ ]:
df.index = df.index.normalize()
print(df.index)
df.index.dtype

DatetimeIndex(['2023-04-01', '2023-04-03', '2023-04-04', '2023-04-05',
               '2023-04-06', '2023-04-07', '2023-04-08', '2023-04-09',
               '2023-04-10', '2023-04-11',
               ...
               '2025-02-03', '2025-02-04', '2025-02-05', '2025-02-06',
               '2025-02-07', '2025-02-08', '2025-02-09', '2025-02-10',
               '2025-02-11', '2025-02-11'],
              dtype='datetime64[ns]', name='timestamp', length=663, freq=None)

dtype('<M8[ns]')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 663 entries, 2023-04-01 to 2025-02-11
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   663 non-null    int64
 1   timezone     663 non-null    object
 2   humidity     663 non-null    float64
 3   pm_10        663 non-null    float64
 4   pm_2_5       663 non-null    float64
 5   pm_2_5_sp    663 non-null    float64
 6   temperature  663 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 41.4+ KB

In [ ]:
df = df.drop(columns=["Unnamed: 0"])
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 663 entries, 2023-04-01 to 2025-02-11
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timezone     663 non-null    object
 1   humidity     663 non-null    float64
 2   pm_10        663 non-null    float64
 3   pm_2_5       663 non-null    float64
 4   pm_2_5_sp    663 non-null    float64
 5   temperature  663 non-null    float64
dtypes: float64(5), object(1)
memory usage: 36.3+ KB

In [ ]:
print(df.index.duplicated().sum())  # นับจำนวน index ที่ซ้ำกัน
print(df.index[df.index.duplicated()])  # แสดงค่าที่ซ้ำ
df = df[~df.index.duplicated(keep="last")]
df = df.asfreq("D")  # ตั้งค่าความถี่เป็นรายวัน
df = df.interpolate()
df

0
DatetimeIndex([], dtype='datetime64[ns]', name='timestamp', freq='D')

,timezone,humidity,pm_10,pm_2_5,pm_2_5_sp,temperature
timestamp,,,,,,
2023-04-01,Asia/Bangkok,73.861694,4.727273,4.727273,4.727273,30.189449
2023-04-02,NaN,70.867094,10.386819,9.656243,9.713260,30.042296
2023-04-03,Asia/Bangkok,67.872493,16.046366,14.585213,14.699248,29.895143
2023-04-04,Asia/Bangkok,62.995952,13.300139,11.938022,11.942897,33.853401
2023-04-05,Asia/Bangkok,59.482051,11.864336,10.733566,10.733566,35.772219
...,...,...,...,...,...,...
2025-02-07,Asia/Bangkok,70.933952,34.743259,29.321219,26.166471,28.271927
2025-02-08,Asia/Bangkok,69.348548,30.654249,26.000000,22.380675,28.385596
2025-02-09,Asia/Bangkok,69.916384,28.971065,24.616898,20.976852,28.373742
2025-02-10,Asia/Bangkok,71.226336,30.652667,25.856981,22.374574,28.251201
2025-02-11,Asia/Bangkok,76.329751,33.787755,29.587755,27.918367,27.633866

In [ ]:
print(df.isnull().sum())
df['timezone'] = df['timezone'].fillna(method='ffill')
print(df.isnull().sum())
df

timezone       21
humidity        0
pm_10           0
pm_2_5          0
pm_2_5_sp       0
temperature     0
dtype: int64
timezone       0
humidity       0
pm_10          0
pm_2_5         0
pm_2_5_sp      0
temperature    0
dtype: int64

,timezone,humidity,pm_10,pm_2_5,pm_2_5_sp,temperature
timestamp,,,,,,
2023-04-01,Asia/Bangkok,73.861694,4.727273,4.727273,4.727273,30.189449
2023-04-02,Asia/Bangkok,70.867094,10.386819,9.656243,9.713260,30.042296
2023-04-03,Asia/Bangkok,67.872493,16.046366,14.585213,14.699248,29.895143
2023-04-04,Asia/Bangkok,62.995952,13.300139,11.938022,11.942897,33.853401
2023-04-05,Asia/Bangkok,59.482051,11.864336,10.733566,10.733566,35.772219
...,...,...,...,...,...,...
2025-02-07,Asia/Bangkok,70.933952,34.743259,29.321219,26.166471,28.271927
2025-02-08,Asia/Bangkok,69.348548,30.654249,26.000000,22.380675,28.385596
2025-02-09,Asia/Bangkok,69.916384,28.971065,24.616898,20.976852,28.373742
2025-02-10,Asia/Bangkok,71.226336,30.652667,25.856981,22.374574,28.251201
2025-02-11,Asia/Bangkok,76.329751,33.787755,29.587755,27.918367,27.633866

In [ ]:
# แปลงคอลัมน์ timestamp ให้เป็น DatetimeIndex หากยังไม่ได้ทำ
df.index = pd.to_datetime(df.index)

# ตรวจสอบให้แน่ใจว่าไม่มีคอลัมน์ที่ไม่ต้องการ
df = df[['pm_2_5', 'humidity', 'pm_10', 'pm_2_5_sp', 'temperature']]  # ใช้เฉพาะคอลัมน์ที่ต้องการ

# ลองเรียกใช้งาน setup อีกครั้ง
from pycaret.time_series import setup

exp = setup(
    data=df,
    target="pm_2_5",
    session_id=123,
    fold=5,
    fh=30,
    seasonal_period="D",
    numeric_imputation_exogenous="mean"  # ใช้ค่าเฉลี่ยเติมค่าที่หายไป
)

In [ ]:
best_model = compare_models()

In [ ]:


best_model = create_model('auto_arima')  # หรือ 'gbr_cds_dt' สำหรับ Gradient Boosting

In [ ]:
predictions = predict_model(best_model)
print(df)
# ดูผลลัพธ์ที่ได้
print(predictions)

               pm_2_5   humidity      pm_10  pm_2_5_sp  temperature
timestamp
2023-04-01   4.727273  73.861694   4.727273   4.727273    30.189449
2023-04-02   9.656243  70.867094  10.386819   9.713260    30.042296
2023-04-03  14.585213  67.872493  16.046366  14.699248    29.895143
2023-04-04  11.938022  62.995952  13.300139  11.942897    33.853401
2023-04-05  10.733566  59.482051  11.864336  10.733566    35.772219
...               ...        ...        ...        ...          ...
2025-02-07  29.321219  70.933952  34.743259  26.166471    28.271927
2025-02-08  26.000000  69.348548  30.654249  22.380675    28.385596
2025-02-09  24.616898  69.916384  28.971065  20.976852    28.373742
2025-02-10  25.856981  71.226336  30.652667  22.374574    28.251201
2025-02-11  29.587755  76.329751  33.787755  27.918367    27.633866

[683 rows x 5 columns]
             y_pred
2025-01-13  43.0261
2025-01-14  52.5345
2025-01-15  41.3416
2025-01-16  46.2459
2025-01-17  15.0080
2025-01-18  17.5659
2025-01-19  31.1416
2025-01-20  39.3369
2025-01-21  21.6707
2025-01-22  30.5011
2025-01-23  38.9709
2025-01-24  39.9188
2025-01-25  15.1466
2025-01-26  29.8691
2025-01-27  16.6550
2025-01-28  22.5329
2025-01-29  23.7926
2025-01-30  26.7402
2025-01-31  24.5524
2025-02-01  31.7952
2025-02-02  32.6261
2025-02-03  34.6774
2025-02-04  24.5392
2025-02-05  14.3401
2025-02-06  20.2848
2025-02-07  29.8936
2025-02-08  26.3400
2025-02-09  24.8907
2025-02-10  26.3343
2025-02-11  29.3228

In [ ]:
print(1)